$clr-white: hsl(0, 0%, 100%);
$clr-grey-100: hsl(0, 0%, 95%);
$clr-grey-200: hsl(0, 0%, 85%);
$clr-grey-300: hsl(0, 0%, 75%);
$clr-grey-400: hsl(0, 0%, 65%);
$clr-grey-500: hsl(0, 0%, 55%);
$clr-grey-600: hsl(0, 0%, 45%);
$clr-grey-700: hsl(0, 0%, 35%);
$clr-grey-800: hsl(0, 0%, 25%);
$clr-grey-900: hsl(0, 0%, 15%);
$clr-black: hsl(0, 0%, 0%);

$clr-primary-100: hsl(55, 52%, 95%);
$clr-primary-200: hsl(55, 52%, 85%);
$clr-primary-300: hsl(55, 52%, 75%);
$clr-primary-400: hsl(55, 52%, 65%);
$clr-primary-500: hsl(55, 52%, 55%);
$clr-primary-600: hsl(55, 52%, 45%);
$clr-primary-700: hsl(55, 52%, 35%);
$clr-primary-800: hsl(55, 52%, 25%);
$clr-primary-900: hsl(55, 52%, 15%);

$clr-secondary-100: hsl(80, 22%, 95%);
$clr-secondary-200: hsl(80, 22%, 85%);
$clr-secondary-300: hsl(80, 22%, 75%);
$clr-secondary-400: hsl(80, 22%, 65%);
$clr-secondary-500: hsl(80, 22%, 55%);
$clr-secondary-600: hsl(80, 22%, 45%);
$clr-secondary-700: hsl(80, 22%, 35%);
$clr-secondary-800: hsl(80, 22%, 25%);
$clr-secondary-900: hsl(80, 22%, 15%);
