<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>test pagina</title>
        <link rel="stylesheet" href="../static/css/nav_bar_stylesheet.css">
    </head>
    <body>
        <!-- navigation bar -->
        <nav class="nav_bar">
            <ul>
                <li><a href="home.html"><img src="../static/images/nav_bar/home.png" alt="home page image"></a></li>
                <li><a href="about.html"><img src="../static/images/nav_bar/about.png" alt="about page image"></a></li>
                <li><a href="tool.html"><img src="../static/images/nav_bar/tool.png" alt="tool page image"></a></li>
                <li><a href="background_reading.html"><img src="../static/images/nav_bar/background_reading.png" alt="background reading page image"></a></li>
            </ul>
            <div class="nav_bar_contents">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="tool.html">Tool</a></li>
                    <li><a href="background_reading.html" id="background_reading">Background reading</a>
                </ul>
            </div>
        </nav>
