{% extends "layout.html" %}

{% block header %}
  <h2><img src="{{ url_for('static', filename='images/navbar/about.png') }}" alt="about page icon" class="logo"> {% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <h2>
    About us
  </h2>
  <p>
  We are students Duncan Huizer, Johanna Veenstra, Sven Staats, Pascal Reumer.
  </p>
  <p>
  We study Bio-informatics at Hanze University of Aplied Sciences since september of 2024 until 2028.
  We strive to learn Bio-informatics and aid the world in its attempt to understand itself and one and other.
  </p>
  <p>
  This website has been made with courtesy of Hanze University of Aplied Sciences and its teachers of class BFV1.
  </p>
{% endblock content %}
