{% extends "layout.html" %}

{% block header %}
  <h2><img src="{{ url_for('static', filename='images/navbar/about.png') }}" alt="about page icon" class="logo"> {% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>
  <br>
    We are students Duncan Huizer, Johanna Veenstra, Sven Staats, Pascal Reumer.<br><br>
    We study Bio-informatics at The Hanze Hoge School Groningen since september of 2024 until 2028.<br><br>
    We strive to learn Bio-informatics and aid the world in its attempt to understand itself and one and other.<br><br><br><br>
    This website has been made with courtesy of The Hanze Hogeschool Groningen and its teachers of class BFV1.<br>
  </p>
{% endblock content %}
