{% extends "layout.html" %}

{% block header %}
  <h1>{% block title %}<img src="{{ url_for('static', filename='images/navbar/home.png') }}" alt="home page icon" class="logo"> Home{% endblock title %}</h1>
{% endblock header %}

{% block content %}
  <section>
    <h2>Header tekst</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
  </section>
  <section>
    <h2>Header tekst</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
  </section>
  <section>
    <h2>Header tekst</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
  </section>
{% endblock content %}
