{% extends "layout.html" %}

{% block header %}
  <h2><img src="{{ url_for('static', filename='images/navbar/home.png') }}" alt="home page icon" class="logo"> {% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <section>
    <h2>Welcome to WGD Wizard</h2>
    <p>
      Quickly date and identify whole genome duplication events in a matter of minutes!
    </p>
  </section>
  <section>
    <p>
      Get clear graphs of your data based on your preferred configurable settings.
    </p>
    <p>
      <i>
        insert example pictures
      </i>
    </p>
  </section>
{% endblock content %}
