<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} - bit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include "_components/navbar.html" %}

  <div class="wrapper">
    <section class="page-content">
      <header class="header">
        {% block header %}{% endblock header %}
      </header>
      <main class="content">
        {% include "_components/alerts.html" %}
        {% block content %}{% endblock content %}
      </main>
    </section>
    {% include "_components/footer.html" %}
  </div>
  
  {% block script %}{% endblock script %}
</body>
</html>
