{% extends "layout.html" %}

{% block header %}
  <h2><img src="{{ url_for('static', filename='images/navbar/about.png') }}" alt="about page icon" class="logo"> {% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <h2>
    About us
  </h2>
  <p>
  We are bio-informatics students Duncan Huizer, Johanna Veenstra, Pascal Reumer, Sven Staats at Hanze University of Applied Sciences.
  We strive to learn Bio-informatics and aid the world in its attempt to understand and improve itself.
  </p>
  <p>
  This website is made as an assignment to teach ourselves how to implement existing bio-informatics tools and make them more accessible in the form of a website.
  The choice for the tool eventually came down to WGD because of its promising use in analysing and dating DNA sequences.
  For information about WGD visit the background reading page.
  </p>
  <p>
  This website has been made possible with courtesy of Hanze University of Applied Sciences and its teachers of class BFV1.
  </p>
{% endblock content %}
