{% extends "layout.html" %}

{% block header %}
  <h2><img src="{{ url_for('static', filename='images/navbar/home.png') }}" alt="home page icon" class="logo"> {% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<section>
  <h2>Welcome to WGD Wizard</h2>
  <p>
    Quickly date and identify whole genome duplication events in a matter of minutes!
  </p>
</section>
<section>
  <p>
    Get clear graphs of your data based on your preferred configurable settings by submitting Multi-Fasta files.
    <img src="{{ url_for('static', filename='images/homepage/WGD_dating.png') }}" alt="WGD dating example graph" style="width: 500px; height: auto;"><img src="{{ url_for('static', filename='images/homepage/WGD_KsDistribution.png') }}" alt="WGD Ks Distribution example graph" style="width: 500px; height: auto;"><br>
    <i>
      Images from <a href="https://wgdv2.readthedocs.io/en/latest/recipes.html">WGD documents</a> VERANDER DEZE NAAR DE PLAATJES VAN ONZE EIGEN TEST
    </i>
  </p>
</section>
{% endblock content %}
