{% extends "layout.html" %}

{% block header %}
  <h2><img src="{{ url_for('static', filename='images/navbar/home.png') }}" alt="home page icon" class="logo"> {% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<section>
  <h2>Welcome to WGD Wizard</h2>
  <p>
    Quickly date, identify and visualise whole genome duplication events in a matter of minutes!
  </p>
</section>
<section>
  <p>
    Get clear graphs of your data based on your preferred configurable settings by submitting Multi-Fasta files.
    <img src="{{ url_for('static', filename='images/homepage/WGD_dating.png') }}" alt="WGD dating example graph" style="width: 500px; height: auto;"><img src="{{ url_for('static', filename='images/homepage/WGD_KsDistribution.png') }}" alt="WGD Ks Distribution example graph" style="width: 500px; height: auto;"><br>
    <i>
      Images from <a href="https://wgdv2.readthedocs.io/en/latest/recipes.html">WGD documents</a>
    </i>
  </p>
</section>
<section>
  <p>
    Quick guide on how to use wgd tool.
  </p>
  <p>
    Step 1:<br>
    Upload the .fasta files and press submit.<br>
    <img src="{{ url_for('static', filename='')}}" alt="Test example graphs" style="width: 500px; height: auto;"><br>
    Step 2:<br>
    Select the subtool you want to run and press submit. Here we have chosen dmd which is the default.
    <img src="{{ url_for('static', filename='')}}" alt="Test example graphs" style="width: 500px; height: auto;"><br>
    Step 3:
    Select the files you want to have run and check or fill in all aditional information in the designated boxes.
    <img src="{{ url_for('static', filename='')}}" alt="Test example graphs" style="width: 500px; height: auto;"><br>
    Step 4:
    Now you can select what kind of graphs you would like to have plotted and press submit.
    <img src="{{ url_for('static', filename='')}}" alt="Test example graphs" style="width: 500px; height: auto;"><br>
    Step 5:
    If all went well you now have your graphs. Enjoy your graphs of your .fasta files and happy researching!
    <img src="{{ url_for('static', filename='')}}" alt="Test example graphs" style="width: 500px; height: auto;">
  </p>
</section>
{% endblock content %}
