<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} - bit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include "_components/navbar.html" %}

  <div class="wrapper flow">
    <div class="page-content flow">
      <header class="header flow">
        {% block header %}{% endblock header %}<h1>
        WGD Wizard
        <img src="{{ url_for('static', filename='../static/images/homepage/Website_logo_WGDv2.png') }}" alt="WGD Wizard logo" class="logo" style="width: 80px; height: auto;">
      </h1>
      </header>
      <main class="content flow">
        {% include "_components/alerts.html" %}
        {% block content %}{% endblock content %}
      </main>
    </div>
    {% include "_components/footer.html" %}
  </div>

  {% block script %}{% endblock script %}
</body>
</html>
