{% extends "tools/base.html" %}

{% from "_macros/_form_helpers.html" import render_field %}

{% block content %}
  <div class="tools-right">
    <!-- Previous visualisations -->
    <h1>Visualisations</h1>
    <p>Select and view previously made visualisations</p>
    <form action="{{ url_for('tools.previous_visualisations') }}">
      <input type="submit" value="Select files" class="previous-files-button">
    </form>
    <!-- Show already uploaded files -->
    <h1>Files uploaded</h1>
    <div class="files-uploaded-box">
      <p>
        Files <img src="../../static/images/tools/files.png" alt="file image">
      </p>
      <ul>
        {% for file in uploaded_files %}
          <li><img src="../../static/images/tools/files_green.png" alt="file image">{{ file["filename"] }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Skip file upload -->
  <h1>Select tool</h1>
  <p>Skip file upload and go to the select tool page.</p>
  <form action="{{ url_for('tools.select_tool') }}">
    <input type="submit" value="Select tool" class="skip-upload-button">
  </form>

  <!-- File upload -->
  <h1>Upload files</h1>
  <p>
    To upload multiple files, hold down the CTRL key while selecting.
  </p>
  <form class="file-upload-box" action="{{ url_for('tools.index') }}" method="POST" enctype="multipart/form-data">
    <p>
      Files <img src="../../static/images/tools/files.png" alt="file image">
    </p>

    <dl>
      <dd>{{ form.csrf_token }}</dd>

      {{ render_field(form.files, class="file-upload-button") }}

      <dd>{{ form.submit(class="submit-button") }}</dd>
    </dl>
  </form>
{% endblock content %}
