{% extends "tools/base.html" %}

{% block content %}
  <h1>Configure ksd</h1>
  <form class="file_upload_box" action="{{ url_for('tools.ksd') }}" method="POST" enctype="multipart/form-data">
    <p>
      Tool <img src="../../static/images/tools/files.png" alt="file image">
    </p>

    <dl>
      <dd>{{ form.csrf_token }}</dd>

      <dt>{{ form.families.label() }}</dt>
      <dd>{{ form.families() }}</dd>
      <dt>{{ form.sequences.label() }}</dt>
      <dd>{{ form.sequences() }}</dd>

      <dd>{{ form.submit() }}</dd>
    </dl>
  </form>
{% endblock content %}
