{% extends "tools/base.html" %}

{% block content %}
  <h1>Select files</h1>
  <p>
    To select multiple files, hold down the CTRL key while selecting.
  </p>
  <form class="file-upload-box" action="{{ url_for('tools.previous_visualisations') }}" method="POST" enctype="multipart/form-data">
    <p>
      Files <img src="../../static/images/tools/files.png" alt="file image">
    </p>

    <dl>
      <dt></dt>
      <dd>{{ form.csrf_token }}</dd>

      <dt></dt>
      <dd>{{ form.files(class="select-files") }}</dd>

      <dd>{{ form.submit(class="submit-button") }}</dd>
    </dl>
  </form>
{% endblock content %}