  {% extends "tools/base.html" %}

  {% block content %}
    <h2>Files uploaded</h2>
    <ul>
      {% for file in files %}
        <li> {{ file }}</li>
      {% endfor %}
    </ul>
  <p>Choose which tools you want to use</p>
  <form class="file_upload_box" action="" method="POST" enctype="multipart/form-data">
    <input id="file_submit" type="submit" />
    <p>
      Select Tools <img src="../../static/images/navbar/tool.png" alt="file image">
    </p>
      <div class="container-wrapper">
        <label class="container">dmd
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        </label>

        <label class="container">ksd
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        </label>

        <label class="container">viz
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        </label>

        <label class="container">syn
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>
    <label class="submit_button" for="file_submit">
      Submit
    </label>
  </form>
  <form action="" method="POST" name="file_selection">
    <ul>
      {% for file in files %}
        <li><label for="{{ file["filepath"] }}"> {{ file["filename"] }}</label>
          <input type="checkbox" value={{ file["filepath"] }} name="uploaded_file"></li>
      {% endfor %}
    </ul>
    <button type="submit">Submit</button>
  </form>
    <a href="{{ url_for("tools.index") }}">
      <u><i>Click here to try again</i></u>
    </a>

  {% endblock content %}
