{% extends "tools/base.html" %}

{% from "_macros/_form_helpers.html" import render_field %}

{% block content %}
  <h1>Configure viz</h1>
  <form action="{{ url_for('tools.viz') }}" method="POST" enctype="multipart/form-data">
    <dl>
      <dd>{{ form.csrf_token }}</dd>

      {{ render_field(form.data_file) }}

      {{ render_field(form.gsmap) }}
      {{ render_field(form.speciestree) }}
      {{ render_field(form.plotkde) }}
      {{ render_field(form.reweight) }}
      {{ render_field(form.onlyrootout) }}
      {{ render_field(form.em_iterations) }}
      {{ render_field(form.em_initializations) }}
      {{ render_field(form.prominence_cutoff) }}
      {{ render_field(form.rel_height) }}
      {{ render_field(form.segments) }}
      {{ render_field(form.minlen) }}
      {{ render_field(form.maxsize) }}
      {{ render_field(form.anchorpoints) }}
      {{ render_field(form.multiplicon) }}
      {{ render_field(form.genetable) }}
      {{ render_field(form.minseglen) }}
      {{ render_field(form.mingenenum) }}
      {{ render_field(form.keepredun) }}
      {{ render_field(form.extraparanomeks) }}
      {{ render_field(form.plotapgmm) }}
      {{ render_field(form.plotelmm) }}
      {{ render_field(form.plotsyn) }}
      {{ render_field(form.dotsize) }}
      {{ render_field(form.apalpha) }}
      {{ render_field(form.hoalpha) }}
      {{ render_field(form.showrealtick) }}
      {{ render_field(form.ticklabelsize) }}
      {{ render_field(form.adjustortho) }}
      {{ render_field(form.adjustfactor) }}
      {{ render_field(form.okalpha) }}
      {{ render_field(form.classic) }}
      {{ render_field(form.toparrow) }}
      {{ render_field(form.nodeaveraged) }}
      {{ render_field(form.bootstrap) }}
      {{ render_field(form.gistrb) }}

      <dd>{{ form.submit() }}</dd>
    </dl>
  </form>
{% endblock content %}
