@use "../abstracts/" as *;

.footer {
  --flow-space: auto;

  padding: 1.5rem;
  padding-left:3.5rem;
  display: flex;
  justify-content: left;
  gap: 5rem;
  background-color: $clr-primary-200;
  text-align: left;

  ul {
    list-style: none;
  }
}

.footer li{
  padding-left: 0.25rem;
}

.footer hr{
  border: 1.50px solid $clr-secondary-700;
}

.footer a{
  text-decoration: none;
  color: $clr-secondary-600;
}


