@use "../abstracts/" as *;

.header {
  background-color: $clr-secondary-900;
  padding: 1.5rem;
  display:flex;
  justify-content: space-between;
  h1, h2{
    color: $clr-grey-100;

  }
}

.header h1{
  padding: 0;
  margin: 0;
}

.header h2{
  padding-left: 2rem;
  padding-top: 0.5rem;
}
