@use "../abstracts/" as *;

.nav {
  position: fixed;
  height: 100vh;
  width: 8.5rem;
  transition: width 1000ms ease;
  z-index: 1;
  overflow: hidden;
  background-color: $clr-secondary-700;

  &:hover {
    width: 25rem;

    .navbar-item-title {
      visibility: visible;
      opacity: 1;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 2.5rem;

    &:first-child {
      padding-top: 8.5rem;
    }
  }

  li {
    padding-left: 2rem;
    white-space: nowrap;
  }
  
  a {
    text-decoration: none;
    display: block;
  }

  img {
    vertical-align: middle;
    width: 4.5rem;
    height: 4.5rem;
  }

  .navbar-item-title {
    vertical-align: middle;
    color: $clr-white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1000ms, opacity 1000ms;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
