<footer class="footer">
  <div class="other">
    <h3>Other</h3>
    <ul>
      <li><a href="https://github.com/heche-psb/wgd">WGD Github page</a></li>
      <li><a href="https://github.com/Dunc4nNT/bit">WGD Wizard Github page</a></li>
      <li><a href="https://github.com/Dunc4nNT/bit/blob/master/README.md">Local installation guide</a></li>
    </ul>
  </div>
  <hr>
  <div class="contact">
    <h3>Contact</h3>
    <ul>
      <li><a href="https://github.com/Dunc4nNT">Duncan</a></li>
      <li><a href="https://github.com/j0w0j">Johanna</a></li>
      <li><a href="https://github.com/svenstaats">Sven</a></li>
      <li><a href="https://github.com/Tarnished-06">Pascal</a></li>
    </ul>
  </div>
</footer>
