{% set navbar_items = [
  {
    "id": "core.index",
    "img_src": "images/navbar/home.png",
    "img_alt": "home page image",
    "span": "Home",
  },
  {
    "id": "tools.index",
    "img_src": "images/navbar/tool.png",
    "img_alt": "tool page image",
    "span": "Tools",
  },
  {
    "id": "core.background_reading",
    "img_src": "images/navbar/background_reading.png",
    "img_alt": "background reading page image",
    "span": "Background Reading",
  },
  {
    "id": "core.about",
    "img_src": "images/navbar/about.png",
    "img_alt": "about page image",
    "span": "About",
  }
] %}

<nav class="nav flow">
  <ul>
    {% for navbar_item in navbar_items %}
      <li {{ 'class=active' if request.endpoint == navbar_item['id'] }}>
        <div class="nav-item-background"></div>
        <a href="{{ url_for(navbar_item['id']) }}">
          <img src="{{ url_for('static', filename=navbar_item['img_src']) }}" alt="{{ navbar_item['img_alt'] }}">
          <span class="navbar-item-title">{{ navbar_item['span'] }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
