{% extends "tools/index.html" %}

{% block content %}
  <h2>Files uploaded</h2>
  <ul>
    {% for file in files %}
      <li> {{ file }}</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for("tools.index") }}">
    <u><i>Click to try again</i></u>
  </a>

    <label class="container">dmd
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    </label>

    <label class="container">ksd
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    </label>

    <label class="container">viz
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    </label>

    <label class="container">syn
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    </label>

{% endblock content %}
