<footer class="footer">
  <div class="other">
    <h3>Other</h3>
    <ul>
      <li>other</li>
      <li>information</li>
      <li>you</li>
      <li>put</li>
    </ul>
  </div>
  <hr>
  <div class="Quick Links">
    <h3>Quick links</h3>
    <ul>
      <li><a href="https://github.com/Dunc4nNT/bit/blob/master/README.md">Github</a></li>
    </ul>
  </div>
  <div class="contact">
    <h3>Contact</h3>
    <ul>
      <li><a href="https://github.com/Dunc4nNT">Duncan</a></li>
      <li><a href="https://github.com/j0w0j">Johanna</a></li>
      <li><a href="https://github.com/svenstaats">Sven</a></li>
      <li><a href="https://github.com/Tarnished-06">Pascal</a></li>
    </ul>
  </div>
</footer>
